<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/header::header}"></header>

    <div class="info">
        <div></div>
        <div>
            <h3 th:text="#{about_title}">About Law Case Master</h3>
            <span th:text="#{about_description}">
            Welcome to our web application - Law Case Master, designed for lawyers and law firms to efficiently manage their cases, clients and court documents. Our mission is to streamline and optimize the workflow of legal professionals by providing intuitive and reliable tools for case and client management. With our system, lawyers can easily create, edit, and organize their cases, as well as upload and manage legal documents.
            Our application offers a user-friendly interface for adding, viewing and managing clients, including personal information and related cases. The system also allows for tracking court sessions
            We believe that our web application will save you time and increase the efficiency of your work, allowing you to focus on what you do best – providing high-quality legal services. Thank you for choosing our solution for managing legal cases.
            </span>

        </div>
        <div></div>
    </div>

</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/footer::footer}"></footer>
</html>