<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>
<body>
<!--<div class="wrapper">-->
<!-- Navigation -->
<header th:replace="~{fragments/header::header}"></header>

<!-- Top Container -->
<div class="row justify-content-center ">
    <form id="adding-form" class="w-25 rounded text-white mt-5"
          th:method="POST"
          th:action="@{/add-case}"
          th:object="${caseData}"
    >
        <!--          enctype="multipart/form-data">-->

        <h3 th:text="#{add_new_case}">Add a new case</h3>
        <div class="text-danger" th:if="${caseError}" th:text="#{already_added_case}">The case has already been added by you or your colleague!</div>
        <div>
            <div class="form-group">
                <label for="inputName" class="col-form-label" th:text="#{case_number}">Case number</label>
            </div>
            <div class="form-group">
                <input name="name"

                       type="text"
                       id="inputName"
                       class="form-control"
                       th:field="*{caseNumber}"
                       aria-describedby="inputNameError">
                <div th:if="${#fields.hasErrors('caseNumber')}" th:errors="*{caseNumber}" class="text-danger"></div>

            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="inputDescription" class="col-form-label" th:text="#{description}">Description</label>
            </div>
            <div class="form-group">
                    <textarea name="description"

                              id="inputDescription"
                              class="form-control"
                              th:field="*{description}"
                              aria-describedby="inputDescriptionError"></textarea>
            </div>
        </div>

        <div>
            <div class="text-danger" th:if="${missClient}" th:text="#{no_added_client}">There no such client added!</div>
            <div class="form-group">
                <label for="clientEmail" class="col-form-label" th:text="#{clients_email}">Client's email</label>
            </div>
            <div class="form-group">

                <input name="name"

                       type="text"
                       id="clientEmail"
                       class="form-control"
                       th:field="*{clientEmail}"
                       aria-describedby="inputNameError">
                <div th:if="${#fields.hasErrors('caseNumber')}" th:errors="*{caseNumber}" class="text-danger"></div>

            </div>
        </div>

        <div class="form-group">
            <div>
                <label for="inputDate" th:text="#{creation_date}">Creation date</label>
            </div>
            <input
                    type="date"
                    class="form-control"
                    id="inputDate"
                    th:field="*{createdAt}"
                    name="inputDate"/>
        </div>
        <div th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}" class="text-danger"></div>
        <div>
            <div class="form-group">
                <label for="caseType" th:text="#{case_type}">Case type</label>
                <select
                        id="caseType"
                        class="custom-select"
                        th:field="*{caseType}">
                    <option value="Case Type" selected th:text="#{select_type}">Select case type</option>
                    <option th:each="caseType: ${caseTypes}" th:value="${caseType}" th:text="${caseType}">Case type
                    </option>
                </select>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary btn-block w-50" type="submit" th:text="#{add_case_btn}">Add case</button>
        </div>

    </form>
</div>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>
