<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>
<body>
<!--<div class="wrapper">-->
<!-- Navigation -->
<header th:replace="~{fragments/header::header}"></header>

<!-- Top Container -->
<div class="row justify-content-center ">
    <form id="adding-form" class="w-25 rounded text-white mt-5"
          th:method="POST"
          th:action="@{/add-document}"
          th:object="${documentData}"
         enctype="multipart/form-data">

        <h3 th:text="#{add_new_document}">Add a new document</h3>
        <div class="text-danger" th:if="${existDocument}">Document has already been added by you or your colleague!</div>
        <div class="text-danger" th:if="${missCase}">There is not such case number</div>
        <div>
            <div class="form-group">
                <label for="documentName" class="col-form-label" th:text="#{document_name}">Document name</label>
            </div>
            <div class="form-group">
                <input name="name"
                        required
                       type="text"
                       id="documentName"
                       class="form-control"
                       th:field="*{name}"
                      >
                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></div>

            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="incomingNumber" class="col-form-label" th:text="#{incoming_number}">Incoming number</label>
            </div>
            <div class="form-group">
                <input name="name"

                       type="text"
                       id="incomingNumber"
                       class="form-control"
                       th:field="*{incomingNumber}"
                       >
                <div th:if="${#fields.hasErrors('incomingNumber')}" th:errors="*{incomingNumber}" class="text-danger"></div>

            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="caseNumber" class="col-form-label" th:text="#{case_number}">Case number</label>
            </div>
            <div class="form-group">
                <input name="name"

                       type="text"
                       id="caseNumber"
                       class="form-control"
                       th:field="*{caseNumber}"
                       >
                <div th:if="${#fields.hasErrors('caseNumber')}" th:errors="*{caseNumber}" class="text-danger"></div>

            </div>
        </div>


                <div>
                    <div class="form-group">
                        <label for="documents" class="col-form-label" th:text="#{attach_the_document}">Attach the document</label>
                        <div class="text-danger" th:if="${documentError}">Please upload valid document!</div>
                    </div>
                    <div class="form-group">
                        <input type="file"
                               name="addDocument"

                               id="documents"
                               class="form-control-file"
                               aria-describedby="inputDocuments">
                    </div>

                </div>

        <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-primary btn-block w-75" type="submit" th:text="#{add_document_btn}">Add document</button>
        </div>

    </form>
</div>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>
