<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/header::header}"></header>
    <h1 class="border-bottom" th:text="#{all_cases}">All Cases</h1>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{case_number}">Case number</th>
                <th th:text="#{case_type}">Case type</th>
                <th th:text="#{creation_date}">Created at</th>
                <th th:text="#{description}">Description</th>
                <th th:text="#{name_client}">Client name</th>
                <th th:text="#{remove_case}">Remove case</th>
            </tr>
            </thead>
            <tbody th:each="case: ${allMyCases}">
            <tr>
                <td th:text="${case.caseNumber}">Case number</td>
                <td th:text="${case.caseType}">Case type</td>
                <td th:text="${case.createdAt}">Created at</td>
                <td th:text="${case.description}">Description</td>
                <td th:text="${case.client.firstName} + ' ' + ${case.client.lastName}">Client name</td>

                <td>
                    <form
                            th:method="delete"
                            th:action="@{/cases/{id}(id = ${case.id})}">

                        <button class="btn-danger btn" th:text="#{remove}">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center mt-4 ">
            <a class="btn" th:href="@{add-case}" th:text="#{add_case_btn}">Add case</a>
        </div>
    </div>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/footer::footer}"></footer>
</html>