<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/header::header}"></header>
    <h1 class="border-bottom">All Clients</h1>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Remove client</th>
            </tr>
            </thead>
            <tbody th:each="client: ${allMyClients}">
            <tr>
                <td th:text="${client.firstName}">First Name</td>
                <td th:text="${client.lastName}">Last Name</td>
                <td th:text="${client.email}">Email</td>
                <td th:text="${client.phoneNumber}">Phone Number</td>
                <td>
                    <form
                            th:method="delete"
                            th:action="@{/client/{id}(id = ${client.id})}"
                    >
                        <button class="btn-danger btn">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center mt-4">
            <a class="btn" th:href="@{add-client}">Add Client</a>
        </div>
    </div>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/footer::footer}"></footer>
</html>