<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/header::header}"></header>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Location</th>
                <th>Day and time of the court session </th>
                <th>Case number</th>
                <th>Client name</th>
                <th>Notes</th>
                <th>Remove client</th>
            </tr>
            </thead>
            <tbody th:each="client: ${allMyClients}">
            <tr>
                <td th:text="${client.firstName}">First Name</td>
                <td th:text="${client.lastName}">Last Name</td>
                <td th:text="${client.email}">Email</td>
                <td th:text="${client.phoneNumber}">Phone Number</td>
                <td>
                    <form
                            th:method="delete"
                            th:action="@{/client/{id}(id = ${client.id})}"
                    >
                        <button class="btn-danger btn">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/footer::footer}"></footer>
</html>