<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/header::header}"></header>
    <h1 class="border-bottom" th:text="#{index_courts}">Courts</h1>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        let csrfToken;
        let csrfHeader;

        $(document).ready(function () {

            csrfToken = $('meta[name="_csrf"]').attr('content');
            csrfHeader = $('meta[name="_csrf_header"]').attr('content');

            
            $.ajax({
                url: '/api/courts',
                method: 'GET',
                success: function (data) {
                    let tableBody = $('#courtsTable tbody');
                    tableBody.empty();
                    data.forEach(function (court) {
                        let row = '<tr id="court-' + court.id + '">' +
                            '<td>' + court.name + '</td>' +
                            '<td>' + court.address + '</td>' +
                            '<td>' + court.phoneNumber + '</td>' +
                            '<td><button class="btn-danger btn" onclick="deleteCourt(' + court.id + ')">Remove</button></td>' +
                            '</tr>';
                        tableBody.append(row);
                    });
                },
                error: function (error) {
                    console.log("Error fetching courts: ", error);
                }
            });

            $('#addCourtForm').on('submit', function (event) {
                event.preventDefault();
                let courtData = {
                    name: $('#name').val(),
                    address: $('#address').val(),
                    phoneNumber: $('#phoneNumber').val()
                };

                $.ajax({
                    url: '/api/courts',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(courtData),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },
                    success: function (data) {

                        $('#name').val('');
                        $('#address').val('');
                        $('#phoneNumber').val('');

                        location.reload();
                    },
                    error: function (error) {
                        console.log("Error adding court: ", error);
                    }
                });
            });
        });


        function deleteCourt(id) {
            $.ajax({
                url: '/api/courts/' + id,
                method: 'DELETE',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function () {
                    location.reload();
                },
                error: function (error) {
                    console.log("Error deleting court: ", error);
                }
            });
        }
    </script>
    </head>
    <body>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <div class="row justify-content-center ">
        <form id="addCourtForm">
            <input type="text" id="name" class="col-form-label" name="name" placeholder="Name" required>
            <input type="text" id="address" class="col-form-label" name="address" placeholder="Address" required>
            <input type="text" id="phoneNumber" class="col-form-label" name="phoneNumber" placeholder="Phone Number"
                   required>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            <button type="submit" class="btn btn-primary">Add court</button>
        </form>
    </div>
    <table id="courtsTable" class="table">
        <thead>
        <tr>
            <th th:text="#{name}">Name</th>
            <th th:text="#{address}">Address</th>
            <th th:text="#{phone_number}">Phone number</th>
            <th th:text="#{remove}">Remove</th>
        </tr>
        </thead>
        <tbody>
        <!-- Data will be appended here by JavaScript -->
        </tbody>
    </table>
    </body>
</div>
<footer th:replace="~{fragments/footer::footer}"></footer>
</html>
