<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/header::header}"></header>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Document name</th>
                <th>Incoming number</th>
                <th>Case number</th>
                <th>Case Client</th>
                <th>Document</th>
                <th>Remove document</th>

            </tr>
            </thead>
            <tbody th:each="document: ${allMyDocuments}">
            <tr>
                <td th:text="${document.name}">Document number</td>
                <td th:text="${document.incomingNumber}">Incoming number</td>
                <td th:text="${document.caseFile.caseNumber}">Case number</td>
                <td th:text="${document.caseFile.client.firstName} + ' ' + ${document.caseFile.client.lastName}">Client name</td>
                <td>
                    <form th:action="@{/download-document}" method="get">
                        <input type="hidden" name="filePath" th:value="${document.addDocument}" />
                        <button type="submit" class="btn btn-primary">Download</button>
                    </form>
                </td>
                <td>
                    <form
                            th:method="delete"
                            th:action="@{/documents/{id}(id = ${document.id})}">

                        <button class="btn-danger btn">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/footer::footer}"></footer>
</html>