<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/head::head}"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/header::header}"></header>
    <!-- Top Container -->
    <section  class="top-container">
        <div class="showcase">
            <h1>Easily manage your law cases!</h1>
            <p>Our platform simplifies case tracking and documentation, saving you time and effort</p>
            <div sec:authorize="isAnonymous()">
                <p>Get Started</p>
                <a th:href="@{login}" class="btn">Login</a>
            </div>
        </div>
        <div class="top-box top-box-a">
            <h4>Времето в София</h4>
            <h4><span id="box-a-temp">15</span><span>&#8451;</span></h4>
            <img id="box-a-img" src="/images/sun.png" height="150px" alt="">
        </div>
        <div class="top-box top-box-b">
            <h4>Времето в Созопол</h4>
            <h4><span id="box-b-temp">27</span><span>&#8451;</span></h4>
            <img id="box-b-img" src="/images/cloudy.png" height="150px" alt="">
        </div>
    </section>

    <!-- Boxes Section -->
    <section sec:authorize="isAuthenticated()" class="boxes">
        <a th:href="@{add-client}" class="main-btn" >
            <div class="box">
                <img src="/images/feather.png" height="150px" alt="">
                <h3>Add Client</h3>
                <p>When you want the wind to blow on your face!</p>
            </div>
        </a>
        <a href="/" class="main-btn" >
            <div class="box">
                <img src="/images/scales.png" height="150px" alt="">
                <h3>Add Case</h3>
                <p>Is this your Leg day?</p>
            </div>
        </a>
        <a href="/" class="main-btn" >
            <div class="box">
                <img src="/images/document.png" height="150px" alt="">
                <h3>Documents</h3>
                <p>When you want to be one with nature!</p>
            </div>
        </a>
        <a href="/" class="main-btn" >
            <div class="box">
                <img src="/images/court.png" height="150px" alt="">
                <h3>Court sessions</h3>
                <p>Going on a trip with friends?</p>
            </div>
        </a>
    </section>

    <!-- Info Section -->
    <section class="road">
        <img src="/images/pen.png" alt="">
        <div>
            <h2>The most commented route</h2>
            <p>Read more about the most commented route and do not miss the
                chance to visit it and give your opinion to help other users.</p>
            <a href="/" class="btn">Learn More</a>
        </div>
    </section>

    <!-- Portfolio -->
<!--    <section class="gallery">-->
<!--        <img src="http://res.cloudinary.com/ch-cloud/image/upload/v1630583467/koncyanx4gqwzt9vxgx4.jpg" width="200px" height="200px" alt="">-->
<!--        <img src="http://res.cloudinary.com/ch-cloud/image/upload/v1630582448/oowojgn4lagybkvv20jb.jpg" width="200px" height="200px" alt="">-->
<!--    </section>-->

    <!-- <script th:src="@{/js/weather.js}"></script> -->
</div>
<!-- Wrapper Ends -->'

<footer th:replace="~{fragments/footer::footer}"></footer>
</body>

</html>
