<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/head::head}"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/header::header}"></header>
    <!-- Top Container -->
    <section class="top-container">
        <div class="showcase">
            <h1 th:text="#{index_page_h1}">Easily manage your law cases!</h1>
            <p th:text="#{index_page_h1_p}">Our platform simplifies case tracking and documentation, saving you time and effort</p>
            <div sec:authorize="isAnonymous()">
                <p th:text="#{index_page_get_started}">Get Started</p>
                <a th:href="@{login}" th:text="#{nav_bar_login}" class="btn">Login</a>
            </div>
        </div>
        <div class="top-box top-box-a">
            <h4>Времето в София</h4>
            <h4><span id="box-a-temp">15</span><span>&#8451;</span></h4>
            <img id="box-a-img" src="/images/sun.png" height="150px" alt="">
        </div>
        <div class="top-box top-box-b">
            <a th:href="@{add-document}" class="btn col-md-12">
                <h4 th:text="#{index_add_document}">Add document</h4>
                <img id="document-add-img" src="/images/add-document.png" alt="">
            </a>

            <br>
            <a th:href="@{add-court-session}" class="btn col-md-12">
                <h4 th:text="#{index_add_court_session}">Add Court session</h4>
                <img id="session-add-img" src="/images/add-session.png" alt="">
            </a>

        </div>
    </section>

    <!-- Boxes Section -->
    <section class="boxes">
        <a th:href="@{client}" class="main-btn">
            <div class="box">
                <img src="/images/feather.png" height="150px" alt="">
                <h3 th:text="#{index_all_clients_h3}">All clients</h3>
                <p th:text="#{index_all_clients_p}">View all yours added clients!</p>
            </div>
        </a>

        <a th:href="@{cases}" class="main-btn">
            <div class="box">
                <img src="/images/scales.png" height="150px" alt="">
                <h3 th:text="#{index_all_cases_h3}">All Cases</h3>
                <p th:text="#{index_all_cases_p}">View all yours added cases!</p>
            </div>
        </a>
        <a th:href="@{documents}" class="main-btn">
            <div class="box">
                <img src="/images/document.png" height="150px" alt="">
                <h3 th:text="#{index_all_documents_h3}">All Documents</h3>
                <p th:text="#{index_all_documents_p}">View all yours added documents!</p>
            </div>
        </a>
        <a th:href="@{court-sessions}" class="main-btn">
            <div class="box">
                <img src="/images/court.png" height="150px" alt="">
                <h3 th:text="#{index_all_court_session_h3}">All Court sessions</h3>
                <p th:text="#{index_all_court_session_p}">View all yours added court sessions!</p>
            </div>
        </a>
    </section>

    <!-- Info Section -->
    <section class="road">
        <img src="/images/pen.png" alt="">
        <div>
            <h2 th:text="#{index_about_us_h2}">About us</h2>
            <p th:text="#{index_about_us_p}" >Law Case Master is a web application that allows lawyers and law firms to manage their cases, clients and court documents.</p>
            <a th:text="#{index_about_us_learn_more}" th:href="@{about}" class="btn">Learn More</a>
        </div>
    </section>

    <!-- Portfolio -->
    <!--    <section class="gallery">-->
    <!--        <img src="http://res.cloudinary.com/ch-cloud/image/upload/v1630583467/koncyanx4gqwzt9vxgx4.jpg" width="200px" height="200px" alt="">-->
    <!--        <img src="http://res.cloudinary.com/ch-cloud/image/upload/v1630582448/oowojgn4lagybkvv20jb.jpg" width="200px" height="200px" alt="">-->
    <!--    </section>-->

    <!-- <script th:src="@{/js/weather.js}"></script> -->
</div>
<!-- Wrapper Ends -->'

<footer th:replace="~{fragments/footer::footer}"></footer>
</body>

</html>
