<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/head::head}"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/header::header}"></header>
    <!-- Top Container -->
    <section class="top-container">
        <div class="showcase">
            <h1>Easily manage your law cases!</h1>
            <p>Our platform simplifies case tracking and documentation, saving you time and effort</p>
            <div sec:authorize="isAnonymous()">
                <p>Get Started</p>
                <a th:href="@{login}" th:text="#{nav_bar_login}" class="btn">Login</a>
            </div>
        </div>
        <div class="top-box top-box-a">
            <h4>Времето в София</h4>
            <h4><span id="box-a-temp">15</span><span>&#8451;</span></h4>
            <img id="box-a-img" src="/images/sun.png" height="150px" alt="">
        </div>
        <div class="top-box top-box-b">
            <a href="/" class="btn col-md-10">
                <h4>Add new document</h4>
                <img id="document-add-img" src="/images/add-document.png" alt="">
            </a>

            <br>
            <a href="/" class="btn col-md-10">
                <h4>Add new Court session</h4>
                <img id="session-add-img" src="/images/add-session.png" alt="">
            </a>

        </div>
    </section>

    <!-- Boxes Section -->
    <section class="boxes">
        <a th:href="@{client}" class="main-btn">
            <div class="box">
                <img src="/images/feather.png" height="150px" alt="">
                <h3>All clients</h3>
                <p>View all added clients!</p>
            </div>
        </a>

        <a th:href="@{cases}" class="main-btn">
            <div class="box">
                <img src="/images/scales.png" height="150px" alt="">
                <h3>All Case</h3>
                <p>View all added cases!</p>
            </div>
        </a>
        <a href="/" class="main-btn">
            <div class="box">
                <img src="/images/document.png" height="150px" alt="">
                <h3>All Documents</h3>
                <p>View all added documents!</p>
            </div>
        </a>
        <a href="/" class="main-btn">
            <div class="box">
                <img src="/images/court.png" height="150px" alt="">
                <h3>All Court sessions</h3>
                <p>View all added court sessions!</p>
            </div>
        </a>
    </section>

    <!-- Info Section -->
    <section class="road">
        <img src="/images/pen.png" alt="">
        <div>
            <h2>About us</h2>
            <p>law case master is a web application that allows lawyers and law firms to manage their cases, clients and
                court documents</p>
            <a th:href="@{about}" class="btn">Learn More</a>
        </div>
    </section>

    <!-- Portfolio -->
    <!--    <section class="gallery">-->
    <!--        <img src="http://res.cloudinary.com/ch-cloud/image/upload/v1630583467/koncyanx4gqwzt9vxgx4.jpg" width="200px" height="200px" alt="">-->
    <!--        <img src="http://res.cloudinary.com/ch-cloud/image/upload/v1630582448/oowojgn4lagybkvv20jb.jpg" width="200px" height="200px" alt="">-->
    <!--    </section>-->

    <!-- <script th:src="@{/js/weather.js}"></script> -->
</div>
<!-- Wrapper Ends -->'

<footer th:replace="~{fragments/footer::footer}"></footer>
</body>

</html>
