<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="~{fragments/head::head}"></head>
<div class="firstCont">
    <div>
    <a class="navbar-brand" href="/"><img alt="logo" src="/images/logo.png" class="logo"></a>
    </div>
    <div class="container" >
        <div class="row justify-content-lg-end">
            <div class="col-md-3 language-form">
                <form th:method="get">
                    <label class="text-dark bold" for="lang" th:text="#{nav_bar_language}">Language</label>
                    <select id="lang" name="lang" class="custom-select" onchange="this.form.submit()">
                        <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                        <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>
<body>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="    border-bottom mb-5" th:text="#{nav_bar_login}">Login</h1>
    <div class="d-flex justify-content-center">

        <div class="row g-3 align-items-center">

            <form
                    th:method="POST"
                    th:action="@{/users/login}"
                    th:object="${loginData}"
            >

                <div>
                <div class=" bg-danger rounded"  th:if="${showError}" th:text="#{incorrect_username_or_password}">Incorrect username or password!</div>

                    <div class="col-auto">
                        <label for="inputUsername" class="col-form-label" th:text="#{register_username}">Username</label>
                    </div>
                    <div class="col-auto">
                        <input
                                th:field="*{username}"
                                th:errorclass="bg-danger"
                                type="text"
                                name="username"
                                required
                                id="inputUsername"
                                class="form-control"
                                aria-describedby="usernameHelpInline">

                    </div>

                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputPassword" class="col-form-label" th:text="#{register_password}">Password</label>
                    </div>
                    <div class="col-auto">
                        <input
                                th:field="*{password}"
                                th:errorclass="bg-danger"
                                type="password"
                                name="password"
                                required
                                id="inputPassword" class="form-control"
                                aria-describedby="passwordHelpInline">


                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-primary btn-block w-50" type="submit" th:text="#{nav_bar_login}">Login</button>
                </div>
            </form>
        </div>

    </div>
</main>
</body>
</html>
