<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head th:replace="~{fragments/head::head}"></head>
<body>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="    border-bottom mb-5">Login</h1>
    <div class="d-flex justify-content-center">

        <div class="row g-3 align-items-center">

            <form
                    th:method="POST"
                    th:action="@{/users/login}"
                    th:object="${loginData}"
            >

<!--                <div th:each="error: ${#fields.errors()}" th:text="${error}" class="danger">Error messages</div>-->
                <div>
                <div class=" bg-danger rounded"  th:if="${showError}" >Incorrect username or password!</div>

                    <div class="col-auto">
                        <label for="inputUsername" class="col-form-label ">Username</label>
                    </div>
                    <div class="col-auto">
                        <input
                                th:field="*{username}"
                                th:errorclass="bg-danger"
                                type="text"
                                name="username"
                                required minlength="5" maxlength="30"
                                id="inputUsername"
                                class="form-control"
                                aria-describedby="usernameHelpInline">

                    </div>

                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputPassword" class="col-form-label ">Password</label>
                    </div>
                    <div class="col-auto">
                        <input
                                th:field="*{password}"
                                th:errorclass="bg-danger"
                                type="password"
                                name="password"
                                required minlength="5" maxlength="30"
                                id="inputPassword" class="form-control"
                                aria-describedby="passwordHelpInline">


                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-primary btn-block w-50" type="submit">Login</button>
                </div>
            </form>
        </div>

    </div>
</main>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>
