<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head::head}"></head>
<body>
<header th:replace="~{fragments/header::header}"></header>
<h1 class="border-bottom" th:text="#{your_profile}">Your Profile</h1>
<main class="p-5 align-content-center bg-blur my-register-div">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="profile-card p-3 py-4">
                    <div class="text-center"><img src="/images/profilePicture.png" width="100" class="rounded-circle">
                    </div>
                    <div class="text-center mt-3">

                        <h5 class="mt-2 mb-0" th:text="#{register_username}">Username:</h5>
                        <strong>
                            <p th:text="${profileData.username}"></p>
                        </strong>
                        <br/>
                        <h5 class="mt-2 mb-0" th:text="#{access_level}">Access level:</h5>
                        <strong>
                            <p>
                                <span class="bg-secondary p-o px-3 rounded text-white"
                                      th:text="${profileData.getRoles().getFirst().roleType}"></span>
                            </p>
                        </strong>
                        <br/>
                        <h5 class="mt-2 mb-0" th:text="#{email}">Email:</h5>
                        <strong>
                            <p th:text="${profileData.email}"></p>
                        </strong>
                        <br/>
                        <h5 class="mt-2 mb-0" th:text="#{phone_number}">Phone number:</h5>
                        <strong>
                            <p th:text="${profileData.phoneNumber}"></p>
                        </strong>
                        <br/>

                        <div class="buttons">
                            <a class="btn btn-outline-primary px-4" th:href="@{index}" th:text="#{back}">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<footer th:replace="~{fragments/footer::footer}"></footer>
</html>
