<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head th:replace="~{fragments/head::head}"></head>
<body>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="border-bottom">Register</h1>
    <div class="d-flex justify-content-center ">
        <div class="row g-3">
            <form
                    th:action="@{/users/register}"
                    th:method="POST"
                    th:object="${registerData}">

                <div>
                    <div class="col-auto">
                        <label for="inputUsername" class="col-form-label ">Username</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{username}"
                               th:errorclass="bg-danger"
                               name="username"
                               required minlength="5" maxlength="30"
                               type="text"
                               id="inputUsername"
                               class="form-control"
                               aria-describedby="usernameHelpInline">


                        <div class=" bg-danger rounded" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                        >Username length must be between 5 and 30 characters
                        </div>
                        <div id="usernameUniqueError"
                               class=" bg-danger rounded" th:if="${hasRegisterError}">Username is already
                            occupied</div>

                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputEmail" class="col-form-label ">Email</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{email}"
                               th:errorclass="bg-danger"
                               name="email"
                               required
                               type="email"
                               id="inputEmail"
                               class="form-control"
                               aria-describedby="emailHelpInline">

                        <div class=" bg-danger rounded" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                        </div>
                    </div>

                    <div>
                        <div class="col-auto">
                            <label for="phoneNumber" class="col-form-label ">Phone Number</label>
                        </div>
                        <div class="col-auto">
                            <input th:field="*{phoneNumber}"
                                   th:errorclass="bg-danger"
                                   name="phoneNumber"
                                   required
                                   type="text"
                                   id="phoneNumber"
                                   class="form-control"
                                   aria-describedby="phoneNumberHelpInline">
                            <div class=" bg-danger rounded" th:if="${#fields.hasErrors('phoneNumber')}"
                                 th:errors="*{phoneNumber}">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-auto">
                            <label for="inputPassword" class="col-form-label ">Password</label>
                        </div>
                        <div class="col-auto">
                            <input th:field="*{password}"
                                   th:errorclass="bg-danger"
                                   name="password"
                                   required minlength="5" maxlength="30"
                                   type="password"
                                   id="inputPassword"
                                   class="form-control"
                                   aria-describedby="passwordHelpInline">
                            <div class=" bg-danger rounded" th:if="${#fields.hasErrors('password')}"
                                 th:errors="*{password}">
                            </div>
                        </div>

                        <div>
                            <div class="col-auto">
                                <label for="inputConfirmPassword" class="col-form-label ">Confirm Password</label>
                            </div>
                            <div class="col-auto">
                                <input th:field="*{confirmPassword}"
                                       th:errorclass="bg-danger"
                                       name="confirmPassword"
                                       required minlength="5" maxlength="30"
                                       type="password"
                                       id="inputConfirmPassword"
                                       class="form-control"
                                       aria-describedby="confirmPasswordHelpInline">
                                <div class=" bg-danger rounded" th:if="${#fields.hasErrors('confirmPassword')}"
                                     th:errors="*{confirmPassword}">
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mt-4">
                                <button class="btn btn-primary btn-block w-50" type="submit">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<!--<footer th:replace="~{fragments/footer::footer}"></footer>-->
</body>
</html>